<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunyh.gprs"
    android:versionCode="7"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 用于youmi发布广告,最后还少了一个，找不到 -->
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

    <application
        android:name=".MyApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/setting" >
        </activity>
        <activity
            android:name="net.youmi.android.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />

        <service
            android:name=".GPRSService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.sunyh.gprs.GPRSService" />
            </intent-filter>
        </service>

        <receiver
            android:name="GPRSBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="-1" >
        </meta-data>
        <meta-data
            android:name="gfan_statistics_appkey"
            android:value="EC2D29E4EAA6D7346A99235BCE143759" >
        </meta-data>
        <meta-data
            android:name="gfan_cpid"
            android:value="-2" />

        <!-- 以下是酷果广告平台在application段内配置的内容 -->
        <meta-data
            android:name="cooId"
            android:value="6c9265391fe04f7aa32c8e4ca88c562a" />
        <meta-data
            android:name="channelId"
            android:value="appchina" />

        <activity
            android:name="com.kuguo.ad.MainActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.kuguo.ad.BoutiqueActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />

        <service android:name="com.kuguo.ad.MainService" />

        <receiver android:name="com.kuguo.ad.MainReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- End 酷果 -->

    </application>

</manifest>